
<%# Banner Component %>
<div class="banner">
  <div class="container">
    <h1>Index Page for Sponsors Contributions</h1>
    <p>This is the page all contributions will be listed for each project</p>
    <p>As you can see the routing and coding is incomplete</p>
  </div>
</div>


<%# card component %>
<div class ="contribution-card-container">
  <% @contributions.each do |contribution|%>
    <div class="card-list">
      <div class="project-card">
        <img class="profile-image" src="https://picsum.photos/460/250" alt="Place-holder-images">

        <div class="card-stats">
          <ul>
            <li>Status: <%= contribution.status %></li>
            <li>Project Name: <%= contribution.project.project_name.capitalize %></li>
            <li>Starts: <%= contribution.start_date %></li>
            <li>Ends: <%= contribution.end_date %></li>
            <li class="link-button"><%= link_to 'Details (to contribution#show)', sponsor_contribution_path(contribution), class: 'btn btn-secondary' %></li>
            <li class="simple form">
                <% if contribution.status = :pending %>
                  <%= simple_form_for(contribution, as: :contribution, method: :patch, url: sponsor_contribution_path(contribution)) do |f| %>
                    <%= f.input :status, :as => :hidden, :input_html => { :value => "accepted" }%>
                    <%= f.button :submit, "Accept" %>
                  <% end %>
                  <%= simple_form_for(contribution, as: :contribution, method: :patch, url: sponsor_contribution_path(contribution)) do |f| %>
                    <%= f.input :status, :as => :hidden, :input_html => { :value => "denied" }%>
                    <%= f.button :submit, "Deny" %>
                  <% end %>
                <% else %>
                  <li class="link-button"><%= contribution.status %></li>
                <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
