
<h1>User Profile Page</h1>

<h4>Welcome! <%= current_user.first_name %></h4>
<h4>User Id: <%= @user_id %></h4>

<h3>My Projects</h3>
<% @user_projects.each do |project| %>
  <ul>
    <li><%= project.project_name %></li>
    <li><%= link_to 'Project detail', project_path(project) %></li>
  </ul>
<% end %>


<h3>My Contributions</h3>
<% @user_contributions.each do |contribution| %>
  <ul>
    <li>Contribution for <%= contribution.project.project_name %></li>
    <li><%= link_to 'Contribution detail', sponsor_contribution_path(contribution) %></li>
  </ul>
<% end %>
