<%# Google Fonts %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">



<%# Profile Banner Component %>
<div class="profile-banner">
  <div class="container">
    <div class="image-container">
      <img src="https://i.pravatar.cc/300" alt="avatar-image">
    </div>

    <div class="profile-content">
      <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
      <%# <p>User Id: <%= @user_id %></p>
        <p><strong>Representing:</strong> <bdi class="content"><%= current_user.org_name %></bdi></p>
        <p><strong>Sponsoring:</strong> <bdi class="content"><%= current_user.projects.count %></bdi> projects</p>
        <p><strong>Contribution points:</strong> <bdi class="content"><%= current_user.total_points %></bdi> pt</p>
        <p>Our mission is to keep local parks clean so our public running team can enjoy the park.</p>
    </div>
  </div>
</div>

<div class="row-title">
  <h1>Currently Sponsoring</h1>
</div>

<%# card component for projects%>
<div class ="card-container">
  <% @user_projects.each do |project| %>
    <div class="project-card">
      <img class="profile-image" src="https://picsum.photos/460/250" alt="Place-holder-images">
        <div class="card-stats">
          <ol>
            <ul><strong>Project:</strong> <%= project.project_name.capitalize %></ul>
            <ul><strong>Starts:</strong> <%= project.start_date.strftime("%d/%m/%y %H:%M")  %></ul>
            <ul><strong>Ends:</strong> <%= project.end_date.strftime("%d/%m/%y %H:%M")  %></ul>
            <ul><%= link_to 'Project detail', project_path(project), :class => 'btn btn-secondary' %></li>
          </ol>
        </div>
    </div>
  <% end %>
</div>

<div class="row-title">
  <h1>Planning to Join</h1>
</div>

<%# card component for contributions %>
<div class ="card-container">
  <% @user_contributions.each do |contribution| %>
    <div class="project-card">
      <img class="profile-image" src="https://picsum.photos/460/250" alt="Place-holder-images">
      <div class="card-stats">
        <ol>
          <ul><strong>Project</strong> <%= contribution.project.project_name %></ul>
          <ul><strong>Status:</strong> <%= contribution.status %></ul>
          <ul><strong>Project:</strong> <%= contribution.project.project_name.capitalize %></ul>
          <ul><strong>Starts:</strong> <%= contribution.start_date.strftime("%d/%m/%y %H:%M") %></ul>
          <ul><strong>Ends:</strong> <%= contribution.end_date.strftime("%d/%m/%y %H:%M")  %></ul>
          <ul class ="btn"><%= link_to 'Contribution detail', sponsor_contribution_path(contribution), :class => 'btn btn-secondary' %></ul>
        </ol>
      </div>
    </div>
  <% end %>
</div>
