<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid px-5">
    <%= link_to root_path, class: "navbar-brand" do %>
      <span class= "colabo-logo"> <%= image_tag "logo_withborder.svg" %></span>
    <% end %>
    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "About_us", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item ">
            <%= link_to "Projects", projects_path, class: "nav-link" %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Profile", current_user, class: "nav-link" %>
          </li>
          <li class="nav-item" style="font-size: 1.05em">
            <%= link_to "log_out", destroy_user_session_path, method: :delete, class: "nav-link border-start button-square-right logout ms-3" %>
          </li>
        <% else %>
          <li class="nav-item" style="font-size: 1.05em">
            <%= link_to "log_in", new_user_session_path, class: "nav-link border-start button-square-right login ms-3" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
