  <div class="w-100 bg-white" >
  <div class="container bg-white col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <%= image_tag image_path('help.png'), alt: "help" %>
      </div>
      <div class="col-lg-6">
        <div class="lc-block mb-3">
          <div editable="rich">
            <h2 class="fw-bold display-5">Collabo for <span class="text-danger">YOU</span> who want to Collaborate.</h2>
          </div>
        </div>

        <div class="lc-block mb-3">
          <div editable="rich">
            <p class="lead"><span class="h3 fw-bold text-primary "><%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Flat_tick_icon.svg/768px-Flat_tick_icon.svg.png", alt: "easy", width: "52px" %></span><span class="h3 fw-bold mx-3 text-primary"><%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Font_Awesome_5_solid_shipping-fast.svg/1279px-Font_Awesome_5_solid_shipping-fast.svg.png", alt: "fast", width: "52px" %></span><span class="h3 fw-bold text-primary"><span class="h3 fw-bold text-primary "><%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/OOjs_UI_icon_secure-link.svg/1024px-OOjs_UI_icon_secure-link.svg.png", alt: "safe", width: "52px" %></span>
            <p class="lead"><span class="h3 fw-bold text-secondary ">Easy</span><span class="h3 fw-bold mx-3 text-secondary">Fast</span><span class="h3 fw-bold text-secondary">Safe</span>
            </p>
          </div>
        </div>

        <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
          <%# <a class="btn btn-primary px-4 me-md-2" href="#" role="button">Click me, I'm a button</a> %>
          <%= link_to "Start a Project", new_project_path, role: "button", class: "btn btn-primary px-4 me-md-2"%>
          <%= link_to "Contribute", projects_path, role: "button", class: "btn btn-outline-secondary px-4"%>
          <%# <a class="btn btn-outline-secondary px-4" href="#" role="button">Click me, I'm a button</a> %>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container bg-white" style= "margin-top: 50px">
  <div class="box">
    <div class="text-center mb-3">
      <span class="h5 inline-block text-secondary fw-bold px-3 py-1" style="background: rgb(231,233,237); border-radius:8px">How we work</span>
    </div>
    <div class="how_we_work shadow py-5 px-3 mb-5 rounded">
      <h3 class="text-center fw-bold">Sponsoring and contributing.</h3>
      <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4 col-xs-12 text-center">
          <div class="svg-box">
            <%= render 'components/project_svg' %>
          </div>
          <div class="work-note">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit illo doloremque repellendus amet ipsa esse fuga nulla
            , magnam laboriosam voluptates sed illum deleniti sint eveniet repudiandae natus minus in. Dignissimos. </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 text-center">
          <div class="svg-box">
            <%= render 'components/contribution_svg' %>
          </div>
          <div class="work-note">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit illo doloremque repellendus amet ipsa esse fuga nulla
            , magnam laboriosam voluptates sed illum deleniti sint eveniet repudiandae natus minus in. Dignissimos. </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 text-center">
          <div class="svg-box">
            <%= render 'components/reward_svg' %>
          </div>
          <div class="work-note">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit illo doloremque repellendus amet ipsa esse fuga nulla
            , magnam laboriosam voluptates sed illum deleniti sint eveniet repudiandae natus minus in. Dignissimos. </p>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div class="my-5" style= "margin-top: 50px">
    <div class="text-center mb-3">
      <span class="h5 inline-block text-secondary fw-bold px-3 py-1" style="background: rgb(231,233,237); border-radius:8px">Our Featured Projects</span>
    </div>
    <div class="row justify-content-center">
      <div class="wrapper">
        <div class="carousel">
        <% @projects.each do |project| %>
          <div class="carousel__item">
            <div class="carousel__item-head">😀</div>
            <div class="carousel__item-body">
              <%= link_to project.project_name, project, class: "title h5 text-dark fw-bold"  %>
              <h6 class="card-subtitle mb-2 text-muted"><%= project.user.first_name %></h6>
              <p class="card-text"><%= project.description %></p>
              <p class="card-text text-muted">Held on: <%= project.start_date %></p>
              <p class="card-text text-warning">Contributors: <%= project.contributions.count %>/<%= project.people_required %></p>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%# if current user has a project show the contributions page %>
<% if current_user && current_user.sponsor? %>
  <p><%= link_to 'Contributions', sponsor_contributions_path %></p>
  <p><%= link_to 'Projects', projects_path %></p>
  <p><%= link_to 'User Profile', user_path(current_user) %></p>
<% end %>
