
<%# Banner Component %>
<div class="banner">
  <div class="container">
    <h1>Index Page for Projects</h1>
    <p>All the projects will be listed here</p>
    <p>Edit Code to show just the current_user's projects</p>
  </div>
</div>
<% if user_signed_in? %>
<div class="container search-bar">
  <%= form_tag projects_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find projects"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
<% end %>
<%# card component %>



<div class ="projects-card-container">
  <% @projects.each do |project|%>
    <div class="project-card">
      <img class="profile-image" src="<%= project.photo.attached? ? cl_image_path(project.photo.key) : image_path('helping.png') %>">
      <div class="project-card-stats">
          <ul>
            <li><bdi><strong><%= project.project_name.capitalize %></strong></bdi></li>
            <li><strong>Sponsor:</strong> <%= project.user.org_name %></li>
            <li><strong>Contributors needed:</strong> <%= project.people_required %>/ <%= project.contributions.count %></li>
            <li class="link-button"><%= link_to 'Details', project_path(project), class: 'btn btn-secondary' %></li>
          </ul>
      </div>
    </div>
  <% end %>
</div>
