
<%# Banner Component %>

<div class="projects-banner">
      <div class="project-title-container">
          <h1>Upcoming Projects</h1>

    <div class="search-bar-container">
        <div class="search-bar">
          <% if user_signed_in? %>
        <form class="row g-3">
            <div class="col-auto">
              <%= form_tag projects_path, method: :get do %>
                    <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Find projects"
                    %>
             </div>

            <div class="col-auto">
              <%= submit_tag "Search", class: "btn btn-primary mb-3" %>
            </div>

         </form>
              <% end %>
          <% end %>

      </div>
     </div>
</div>




<%# card component %>
<div class ="projects-master-container">
  <div class ="projects-card-container">
    <% @projects.each do |project|%>
      <div class="project-card">
        <img class="profile-image" src="<%= project.photo.attached? ? cl_image_path(project.photo.key) : image_path('helping.png') %>">
        <div class="project-card-stats">
            <ul>
              <li><bdi><strong><%= project.project_name.capitalize %></strong></bdi></li>
              <li><strong>Sponsor:</strong> <%= project.user.org_name %></li>
              <li><strong>Contributors needed: </strong><%= project.contributions.count %>/<%= project.people_required %></li>
              <li class="link-button"><%= link_to 'Details', project_path(project), class: 'btn btn-secondary' %></li>
            </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
