<div class="container">
  <div class="project">
    <h1><%= @project.project_name %></h2>
    <h2> Project creator: <%= @project.user.user_name, @project.user.org_name %>
    <h3> Description: <%= @project.description %> </h3>
    <p>  People required for project: <%= @project.people_required %></p>
    <p> Location: <%= @project.location %> </p>
    <p> Starts: <%= @project.start_date %> </p>
    <p> Ends: <%= @project.end_date %> </p>
    <p> Rewards: <%= @project.reward_earned %></p>
    <p> Points: <%= @project.points_earned %></p>

    <p><%= link_to 'Edit',  edit_project_path %></p>
    <p><%= link_to 'Delete project', project_path(@project), method: :delete, class: 'btn btn-secondary', data: {confirm: " Are you sure you want to delete ?"} %></p>
  </div>
</div>
