<div class="container-show">
  <div class="show-banner">
    <h1><%= @project.project_name %></h1>
</div>

<div class="project">
  <div class="row justify-content-around">

   <div class="section-arrow">
    <%= link_to user_path(current_user) do %>
      <i class="fas fa-arrow-left fa-2x"></i>
    <%end%>
    </div>

    <div class="description col-12 col-md-4">
    <img class="profile-image" src=<%= @project.photo.attached? ? cl_image_path(@project.photo.key) : image_path('help.png') %>>
    <h3> <%= @project.description %> </h3>
    </div>

  <div class="col-12 col-md-4">
  <div class="map-container">
    <div id="map"
      style="width: 100%; height: 400px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

<div class="information-section">
   <p> People required for project: <%= @project.people_required %></p>
    <p> Total contributors: <%= @project.contributions.count %></p>
    <p> Location: <%= @project.location %> </p>
    <p> Starts: <%= @project.start_date %> </p>
    <p> Ends: <%= @project.end_date %> </p>
    <p> Rewards: <%= @project.reward_earned %></p>
    <p> Points: <%= @project.points_earned %></p>
</div>


  <div class="project-buttons">
    <% if @project.ends_in_future? %>
      <% if @project.user_id == current_user.id %>
        <p><%= link_to 'Edit Project', edit_project_path, class: 'btn btn-secondary' %></p>
      <% elsif @project.find_users.include?(current_user) %>
        <p><%= link_to 'Cancel Contribution', contribution_path(@project.find_contribution(current_user)), method: :delete, class: 'btn btn-secondary' %> </p>
      <% end %>
    <% end %>
    <% if @project.user_id != current_user.id && @project.find_users.exclude?(current_user) %>
      <% if @project.start_date > DateTime.now %>
        <p><%= link_to 'Contribute to Project', project_contributions_path(@project), method: :post, class: 'btn btn-secondary' %></p>
      <% else %>
        <div class="already-started"><p>Project already started, cannot contribute</p></div>
      <% end %>
    <% end %>
      </div>
    </div>
  </div>
</div>


<%# Contribution Cards %>
<% if current_user == @project.user %>
  
<div class="container mt-5">
  <div class="bg-white">
    <h1>My Contributions to Sponsored Projects</h1>
  </div>

  <%# card component for contributions %>
  <div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="accepted projects">
        <button class="nav-link active" id="accepted-tab" data-bs-toggle="tab" data-bs-target="#accepted" type="button" role="tab" aria-controls="accepted" aria-selected="true">Accepted</button>
      </li>
      <li class="nav-item" role="pending projects">
        <button class="nav-link" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab" aria-controls="pending" aria-selected="false">Requests Pending</button>
      </li>
      <li class="nav-item" role="denied projects">
        <button class="nav-link" id="denied-tab" data-bs-toggle="tab" data-bs-target="#denied" type="button" role="tab" aria-controls="denied" aria-selected="false">Requests Denied</button>
      </li>
    </ul>

  <%# tab content section %>
    <div class="tab-content shadow p-3 mb-5 rounded" id="myTabContent" style="min-height: 400px">
        <div class="tab-pane fade show active" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">
          <div class ="contribution-cards-holder p-3" class="row">
            <% if @project.contributions.empty? %>
              <p> No contributions planned currently </p>
            <% else %>
              <% @project.contributions.each do |contribution| %>
                <% if contribution.status == :accepted.to_s %>
                  <div class="contribution-card">
                    <img class="profile-image" src="https://picsum.photos/460/250" alt="Place-holder-images">
                    <div class="profile-content">
                          <ul>
                            <li><strong>Contributor:</strong> <%= contribution.user.first_name%> <%= contribution.user.last_name %></li>
                            <li><strong>Status:</strong> <%= contribution.status %></li>
                            <li class="simple form">
                                <% if contribution.status = :pending %>
                                  <%= simple_form_for(contribution, as: :contribution, method: :patch, url: sponsor_contribution_path(contribution)) do |f| %>
                                    <%= f.input :status, :as => :hidden, :input_html => { :value => "accepted" }%>
                                    <%= f.button :submit, "Accept" %>
                                  <% end %>
                                  <%= simple_form_for(contribution, as: :contribution, method: :patch, url: sponsor_contribution_path(contribution)) do |f| %>
                                    <%= f.input :status, :as => :hidden, :input_html => { :value => "denied" }%>
                                    <%= f.button :submit, "Deny" %>
                                  <% end %>
                                <% else %>
                                  <li class="link-button"><%= contribution.status %></li>
                                <% end %>
                            <%# <li class="link-button"><%= link_to 'Details (to contribution#show)', sponsor_contribution_path(contribution), class: 'btn btn-secondary' %></li>
                            </li>
                          </ul>
                      </div>
                  </div> 
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="pending-tab">
          <div class ="contribution-cards-holder p-3" class="row">
            <% if @project.contributions.empty? %>
              <p> No pending contribution requests </p>
            <% else %>
              <% @project.contributions.each do |contribution| %>
                <% if contribution.status == :pending.to_s %>
                    <div class="contribution-card">
                    <img class="profile-image" src="https://picsum.photos/460/250" alt="Place-holder-images">
                    <div class="profile-content">
                          <ul>
                            <li><strong>Contributor:</strong> <%= contribution.user.first_name%> <%= contribution.user.last_name %></li>
                            <li><strong>Status:</strong> <%= contribution.status %></li>
                            <li class="simple form">
                                <% if contribution.status = :pending %>
                                  <%= simple_form_for(contribution, as: :contribution, method: :patch, url: sponsor_contribution_path(contribution)) do |f| %>
                                    <%= f.input :status, :as => :hidden, :input_html => { :value => "accepted" }%>
                                    <%= f.button :submit, "Accept" %>
                                  <% end %>
                                  <%= simple_form_for(contribution, as: :contribution, method: :patch, url: sponsor_contribution_path(contribution)) do |f| %>
                                    <%= f.input :status, :as => :hidden, :input_html => { :value => "denied" }%>
                                    <%= f.button :submit, "Deny" %>
                                  <% end %>
                                <% else %>
                                  <li class="link-button"><%= contribution.status %></li>
                                <% end %>
                            <%# <li class="link-button"><%= link_to 'Details (to contribution#show)', sponsor_contribution_path(contribution), class: 'btn btn-secondary' %></li>
                            </li>
                          </ul>
                      </div>
                  </div> 
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="tab-pane fade" id="denied" role="tabpanel" aria-labelledby="denied-tab">
          <div class ="contribution-cards-holder p-3" class="row">
            <% if @project.contributions.empty? %>
              <p> No contribution requests denied </p>
            <% else %>
              <% @project.contributions.each do |contribution| %>
                <% if contribution.status == :denied.to_s %>
                  <div class="contribution-card">
                    <img class="profile-image" src="https://picsum.photos/460/250" alt="Place-holder-images">
                    <div class="profile-content">
                          <ul>
                            <li><strong>Contributor:</strong> <%= contribution.user.first_name%> <%= contribution.user.last_name %></li>
                            <li><strong>Status:</strong> <%= contribution.status %></li>
                            <li class="simple form">
                                <% if contribution.status = :pending %>
                                  <%= simple_form_for(contribution, as: :contribution, method: :patch, url: sponsor_contribution_path(contribution)) do |f| %>
                                    <%= f.input :status, :as => :hidden, :input_html => { :value => "accepted" }%>
                                    <%= f.button :submit, "Accept" %>
                                  <% end %>
                                  <%= simple_form_for(contribution, as: :contribution, method: :patch, url: sponsor_contribution_path(contribution)) do |f| %>
                                    <%= f.input :status, :as => :hidden, :input_html => { :value => "denied" }%>
                                    <%= f.button :submit, "Deny" %>
                                  <% end %>
                                <% else %>
                                  <li class="link-button"><%= contribution.status %></li>
                                <% end %>
                            <%# <li class="link-button"><%= link_to 'Details (to contribution#show)', sponsor_contribution_path(contribution), class: 'btn btn-secondary' %></li>
                            </li>
                          </ul>
                      </div>
                  </div> 
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
<% end %>

