<div class="container">
  <div class="project w-50 mx-auto">
    <h1><%= @project.project_name %></h1>
    <%# <h2> Project creator: <%= @project.user.user_name, @project.user.org_name  </h2>%>
    <img class="profile-image" src="<%= @project.photo.attached? ? cl_image_path(@project.photo.key) : image_path('help.png') %>">
    <h3> Description: <%= @project.description %> </h3>
    <p>  People required for project: <%= @project.people_required %></p>
    <p> Location: <%= @project.location %> </p>
    <p> Starts: <%= @project.start_date %> </p>
    <p> Ends: <%= @project.end_date %> </p>
    <p> Rewards: <%= @project.reward_earned %></p>
    <p> Points: <%= @project.points_earned %></p>

  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>



    <% if @project.user_id == current_user.id %>
      <p><%= link_to 'Edit Project', edit_project_path, class: 'btn btn-secondary' %></p>
      <p><%= link_to 'Delete Project', project_path(@project), method: :delete, class: 'btn btn-secondary', data: {confirm: " Are you sure you want to delete ?"} %></p>
    <% elsif @project.find_users.include?(current_user) %>
      <p><%= link_to 'Delete Contribution', contribution_path(@project.find_contribution(current_user)), method: :delete, class: 'btn btn-secondary' %> </p>
    <% else %>
      <p><%= link_to 'Contribute to Project', project_contributions_path(@project), method: :post, class: 'btn btn-secondary' %></p>
    <% end %>
  </div>
</div>
