<!DOCTYPE html>
<html>
  <head>
    <title>Colabo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'map' %>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="bg-white">
    <%= render 'shared/navbar' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
  <footer class="text-center">
    <ul class="list_inline">
      <li>
        <a class="logo" href="#">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li>
        <a class="logo" href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a class="logo" href="#">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
    </ul>
    <p>Powered by RBBE-corp. @copyrights protected.</p>
  </footer>
</html>
